<template>
  <div>
    <div class="section">
      <h2 class="title is-4"><slot></slot></h2>
      <div class="field" v-if="totalPages > 1">
        <div class="control">
          <input class="input" type="text" placeholder="Filter by key or value" v-model="search">
        </div>
      </div>
      <div class="field is-grouped" v-if="totalPages > 1">
        <div class="control">
          <button class="button is-text is-small" @click="previousPage()" :disabled="currentPageIsStart()"><< Previous</button>
        </div>
        <div class="control">
          <button class="button is-text is-small" @click="nextPage()" :disabled="currentPageIsLast()">Next >></button>
        </div>
      </div>
      <table class="table is-bordered is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th @click="sort('key')">Key</th>
            <th @click="sort('value')">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in sortedPagedData">
            <th>{{ data[0] }}</th>
            <td>{{ data[1] }}</td>
          </tr>
        </tbody>
      </table>
      <div class="field is-grouped" v-if="totalPages > 1">
        <div class="control">
          <button class="button is-text is-small" @click="previousPage()" :disabled="currentPageIsStart()"><< Previous</button>
        </div>
        <div class="control">
          <button class="button is-text is-small" @click="nextPage()" :disabled="currentPageIsLast()">Next >></button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        kvdata: [],
        currentPage: 1,
        asc: true,
        sortBy: 'key',
        sortMap: { "key": 0, "value": 1},
        search: ''
      }
    },
    created() {
      this.kvdata = this.arrayedData
    },
    props: {
      itemsPerPage: { type: Number, default: 10 },
      keyValueObject: { required: true },
      mapArrayKey: { type: String },
      mapArrayValue: { type: String }
    },
    computed: {
      arrayedData() {
        if (this.mapArrayKey && this.mapArrayValue) {
          let arrayedData = [];
          for (let index in this.keyValueObject) {
            arrayedData.push([this.keyValueObject[index][this.mapArrayKey], this.keyValueObject[index][this.mapArrayValue]]);
          }
          return arrayedData;
        } else {
          return Object.entries(this.keyValueObject);
        }
      },
      sortedPagedData() {
        return this.kvdata.filter((currentVal, index) => {
          let value = (currentVal[1] === null || typeof currentVal[1] === 'object') ? '' : currentVal[1].toString();
          if (currentVal[0].includes(this.search) || value.includes(this.search)) return true;
        }).sort((a, b) => {
          let direction = this.asc ? 1 : -1;
          let sortedBy = this.sortMap[this.sortBy];
          if ((a[sortedBy] === null) || typeof b[sortedBy] === 'object') {
            return -1 * direction;
          } else if ((b[sortedBy] === null) || typeof b[sortedBy] === 'object') {
            return 1 * direction;
          } else if (a[sortedBy] === b[sortedBy]) {
            return 0;
          }
          if (a[sortedBy].toString().toLowerCase() < b[sortedBy].toString().toLowerCase()) return -1 * direction;
          if (a[sortedBy].toString().toLowerCase() > b[sortedBy].toString().toLowerCase()) return 1 * direction;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage -1) * this.itemsPerPage;
          let end = this.currentPage * this.itemsPerPage;
          if ((index >= start) && (index < end)) return true;
        })
      },
      totalPages() {
        return this.kvdata.length / this.itemsPerPage;
      }
    },
    methods: {
      previousPage() {
        if (! this.currentPageIsStart()) this.currentPage--;
      },
      nextPage() {
        if (! this.currentPageIsLast() < this.kvdata.length) this.currentPage++;
      },
      currentPageIsStart() {
        return this.currentPage == 1;
      },
      currentPageIsLast() {
        return (this.currentPage * this.itemsPerPage) > this.kvdata.length;
      },
      sort(val) {
        if (val == this.sortBy) {
          this.asc = this.asc === true ? false : true;
        }
        this.sortBy = val;
      }
    }
  }
</script>