<template>
  <div class="section">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" placeholder="TestRail username" v-model="username">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="user" />
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="password" placeholder="Password or API key" v-model="password">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="lock" />
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button v-bind:class="['button is-info', { 'is-loading': isLoading }]" v-on:click="trValidateCredentials(username, password)">{{ isValid ? 'Credentials Saved' : 'Test Credentials' }}</button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    data() {
      return {
        username: '',
        password: '',
        isLoading: false,
        isValid: false
      }
    },
    methods: {
      trValidateCredentials(username, password) {
        this.isLoading = true;
        axios({
          url: 'https://cors-anywhere.herokuapp.com/https://datalex.testrail.net/index.php?/api/v2/get_user_by_email/',
          method: 'get',
          auth: {
            username: username,
            password: password
          },
          params: {
            email: username
          },
          headers: {
            'Content-Type': 'application/json',
          },
          data: {}
          })
          .then((response) => {

            this.$store.dispatch('saveCredentials', { username: username, password: password })
            this.$store.commit('pushUser', response.data)

            this.isLoading = false;
            this.isValid = true;

          })
          .catch((error) => {
            console.log(error.request);
            console.log(error.response.headers);
            console.log(error.response.data);
          })
          .then(() => { this.isLoading = false; })
      }
    }
  }
</script>
