<template>
  <table class="table">
    <tbody>
      <tr v-for="result in results">
        <td><span v-bind:class="status_code[result.status_id][1]">{{ status_code[result.status_id][0] }}</span><br>{{ getUserName(result.created_by) }}<br>
<span class="is-size-7">{{ new Date(result.created_on * 1000).toLocaleDateString("en-US", { hour: 'numeric', minute: 'numeric' }) }}</span></td>
        <td>{{ result.comment }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
  var TestStatus = {
    status_code: { 1: ['Passed', 'tag is-success'], 2: ['Blocked', 'tag is-black'], 4: ['Retest', 'tag is-light'], 5: ['Failed', 'tag is-danger'], 6: ['Incomplete', 'tag is-warning'], 7: ['Unsupported', 'tag is-light'] }
  };

  export default {
    data() {
      return {
        results: this.testResults,
        status_code: TestStatus.status_code
      }
    },
    props: {
      testResults: { type: Array, required: true }
    },
    methods: {
      getUserName(user_id) {
        let user = this.$store.getters.getUserById(user_id)
        return user.name
      }
    }
  }
</script>
