<template>
  <div class="section">
    <div v-bind:class="['pageloader', { 'is-active': isLoading }]"><span class="title">Please wait...</span></div>
    <div v-show="submitSuccess" class="notification is-success">
      <p>Test Result Submitted!</p>
      <button class="delete"></button>
    </div>
    <div v-show="submitError" class="notification is-danger">
      <p>Oops there was a problem submitting your test results.</p>
      <button class="delete"></button>
    </div>
    <template v-if="testCase != null">
      <h2 class="title is-4">{{ testCase.title }}</h2>
      <div class="field">
        <label class="label">Description</label>
        <div class="tile">
          <p>{{ testCase.custom_description }}</p>
        </div>
      </div>
      <hr>
    </template>
    <template v-if="testResults.length != 0">
      <test-rail-test-results v-bind:test-results="testResults"></test-rail-test-results>
    </template>
    <hr>
    <div class="section">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary" v-on:click="trFetchTestCase(testCaseId)">Fetch Test Case Details</button>
            </div>
            <div class="control">
              <button class="button is-primary" v-on:click="trFetchTestResults(testRunId, testCaseId)">Fetch Test Results</button>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Test Result Comment</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" v-model="comment" placeholder="Test result comments"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Defects</label>
        </div>
        <div class="field-body">
          <div class="control">
            <input class="input" v-model="defects" placeholder="TDP-12345,TDP-98765">
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Status</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <div class="select">
                <select v-model="status_id">
                  <option value="1">Passed</option>
                  <option value="2">Blocked</option>
                  <option value="4">Retest</option>
                  <option value="5">Failed</option>
                  <option value="6">Incomplete</option>
                  <option value="7">Unsupported</option>
                </select>
              </div>
            </div>
            <div class="control">
              <button class="button is-primary" v-on:click="submitResult(testRunId, testCaseId)">Submit</button>
            </div>
          </div>
          <div class="field">

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import TestRailTestResults from './TestRailTestResults'
  export default {
    components: {
      TestRailTestResults
    },
    data() {
      return {
        testCase: null,
        testResults: [],
        comment: '',
        status_id: '',
        defects: '',
        submitSuccess: false,
        submitError: false,
        isLoading: false
      }
    },
    props: {
      testCaseId: { required: true },
      testRunId: { required: true }
    },
    methods: {
      trFetchTestCase(testCaseId) {
        this.isLoading = true;
        axios({
          url: 'https://cors-anywhere.herokuapp.com/https://datalex.testrail.net/index.php?/api/v2/get_case/' + testCaseId,
          method: 'get',
          auth: {
            username: this.$store.getters.credentialUsername,
            password: this.$store.getters.credentialPassword
          },
          headers: {
            'Content-Type': 'application/json',
          },
          data: {}
        })
          .then((response) => {
            this.testCase = response.data;
            console.log(response.data);
        })
          .catch((error) => {
            console.log(error.request);
            console.log(error.response.headers);
            console.log(error.response.data);
        })
          .then(() => { this.isLoading = false; })
      },
      submitResult(testRunId, testCaseId){
        this.submitSuccess = false;
        this.submitError = false;
        this.isLoading = true;
        axios({
          url: 'https://cors-anywhere.herokuapp.com/https://datalex.testrail.net/index.php?/api/v2/add_result_for_case/' + testRunId + '/' + testCaseId,
          method: 'post',
          auth: {
            username: this.$store.getters.credentialUsername,
            password: this.$store.getters.credentialPassword
          },
          headers: {
            'Content-Type': 'application/json',
          },
          data: {
            'status_id': this.status_id,
            'comment': this.comment,
            'defects': this.defects
          }
        })
          .then((response) => {
            this.testResults.push(response.data);
            this.submitSuccess = true;
            console.log(response.data);
        })
          .catch((error) => {
            this.submitError = true;
            console.log(error.request);
            console.log(error.response.headers)
            console.log(error.response.data);
        })
          .then(() => { this.isLoading = false; })
      },
      trFetchTestResults(testRunId, testCaseId) {
        this.isLoading = true;
        axios({
          url: 'https://cors-anywhere.herokuapp.com/https://datalex.testrail.net/index.php?/api/v2/get_results_for_case/' + testRunId + '/' + testCaseId,
          method: 'get',
          auth: {
            username: this.$store.getters.credentialUsername,
            password: this.$store.getters.credentialPassword
          },
          headers: {
            'Content-Type': 'application/json',
          },
          data: {
          }
        })
          .then((response) => {
            this.testResults = response.data;
            console.log(response.data);
            response.data.forEach(result => {
              console.log("Will fetch " + result.created_by)
              return this.$store.dispatch('fetchUserWithId', result.created_by)
            })
        })
          .catch((error) => {
            console.log(error.request);
            console.log(error.response.headers)
            console.log(error.response.data);
        })
          .then(() => { this.isLoading = false; })
      }
    }
  }
</script>
