<template>
  <div v-show="isActive"><slot></slot></div>
</template>
<script>
  export default{
    props: {
      name: { required: true },
      selected: { type: Boolean, default: false }
    },
    data() {
      return {
        isActive: false,
        isVisible: true
      }
    },
    mounted() {
      this.isActive = this.selected
    }
  }
</script>