<template>
    <nav class="level" :id="'testCaseName_' + testRunData.testData.testCaseName">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Status</p>
                <p class="title">{{ testRunData.testStatus }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Test Number</p>
                <p class="title">{{ testRunData.testData.testCaseName }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">TestRail ID</p>
                <p class="title">{{ testRunData.testData.testRailTestCaseId }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">PNR</p>
                <p class="title">{{  testRunData.pnr }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Product</p>
                <p class="title">{{ testRunData.testData.product }}</p>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  props: ['testRunData']
}
</script>
