<template>
  <div>
    <div class="tabs">
      <ul>
        <li v-for="tab in tabs" :class="{ 'is-active' : tab.isActive }">
        <a :href="'#' + createId(id)" @click="selectedTab(tab)">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
    <div class="tab-details">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        tabs: []
      }
    },
    props: {
      id: { required: true }
    },
    created() {
      this.tabs = this.$children;
    },
    methods: {
      selectedTab(selectedTab) {
        if (selectedTab.name == 'All') {
            this.tab.forEach(tab => {
              tab.isVisible = true;
              tab.isActive = (tab.name === selectedTab.name);
            })
        } else {
            this.tabs.forEach(tab => {
              tab.isActive = (tab.name === selectedTab.name);
              tab.isVisible = (tab.name === selectedTab.name);
            })
        }
      },
      createId(id) {
        return 'testCaseName_' + id;
      }
    }
  }
</script>