<template>
  <div id="app" class="section">
    <h1 class="title">Test Run Data Report</h1>
      <test-rail-credentials-control></test-rail-credentials-control>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box" v-for="testRun in testRunDataList">
          <test-quick-view-header v-bind:test-run-data="testRun">
          </test-quick-view-header>
          <test-tab-panel :id="testRun.testData.testCaseName">
            <test-tab name="Test Data" :selected="true">
              <paged-sortable-searchable-key-value-table v-bind:key-value-object="testRun.testData"></paged-sortable-searchable-key-value-table>
            </test-tab>
            <test-tab name="Flight Selection">
              <template v-for="(flightSegment, index) in testRun.selectionPageFlightSegments">
                <paged-sortable-searchable-key-value-table v-bind:key-value-object="flightSegment">
                  {{ 'Flight Segment ' + flightSegment.segmentNumber }}
                </paged-sortable-searchable-key-value-table>
              </template>
              <template v-if="testRun.selectionPageTaxesFeesAndCharges != null">
                <template v-for="(taxesAndFeesAndCharges, index) in testRun.selectionPageTaxesFeesAndCharges">
                  <paged-sortable-searchable-key-value-table v-bind:key-value-object="taxesAndFeesAndCharges.priceLineItems" map-array-key="description" map-array-value="value">
                    {{ 'Taxes, Fees, and Charges - ' + taxesAndFeesAndCharges.travelerType }}
                  </paged-sortable-searchable-key-value-table>
                </template>
              </template>
            </test-tab>
            <test-tab name="Itinerary Summary">
              <template v-for="(flightSegment, index) in testRun.summaryPageFlightSegments">
                <paged-sortable-searchable-key-value-table v-bind:key-value-object="flightSegment">
                  {{ 'Flight Segment ' + flightSegment.segmentNumber}}
                </paged-sortable-searchable-key-value-table>
              </template>
              <template v-if="testRun.summaryPageTaxesFeesAndCharges != null">
                <template v-for="(taxesAndFeesAndCharges, index) in testRun.summaryPageTaxesFeesAndCharges">
                  <paged-sortable-searchable-key-value-table v-bind:key-value-object="taxesAndFeesAndCharges.priceLineItems"
                  map-array-key="description" map-array-value="value">
                    {{ 'Taxes, Fees, and Charges - ' + taxesAndFeesAndCharges.travelerType }}
                  </paged-sortable-searchable-key-value-table>
                </template>
              </template>
              <template v-if="testRun.summaryPageAncillaryItems != null">
                <template v-for="(summaryPageAncillaryItem, index) in testRun.summaryPageAncillaryItems">
                  <paged-sortable-searchable-key-value-table v-bind:key-value-object="summaryPageAncillaryItem.priceLineItems"
                  map-array-key="description" map-array-value="value">
                      {{ 'Ancillary - ' + summaryPageAncillaryItem.ancillaryType }}
                  </paged-sortable-searchable-key-value-table>
                </template>
              </template>
            </test-tab>
            <test-tab name="Passenger Details">
              <template v-for="(travelerDetails, index) in testRun.travelerDetails">
                <paged-sortable-searchable-key-value-table v-bind:key-value-object="travelerDetails">
                  {{ 'Passenger ID ' + travelerDetails.paxNumber }}
                </paged-sortable-searchable-key-value-table>
              </template>
            </test-tab>
            <test-tab name="Seat Selection">
              <div>Tab 6 (Seat Selection)</div>
            </test-tab>
            <test-tab name="Payment">
              <div>Tab 7 (Payment)</div>
            </test-tab>
            <test-tab name="Confirmation">
              <div>Tab 8 (Confirmation)</div>
            </test-tab>
            <test-tab name="Test Rail">
              <test-rail-panel v-bind:test-case-id="testRun.testData.testRailTestCaseId" v-bind:test-run-id="testRun.testRailRunId"></test-rail-panel>
            </test-tab>
          </test-tab-panel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TestQuickViewHeader from './components/TestQuickViewHeader'
import TestTabPanel from './components/TestTabPanel'
import TestTab from './components/TestTab'
import PagedSortableSearchableKeyValueTable from './components/PagedSortableSearchableKeyValueTable'
import TestRailPanel from './components/TestRailPanel'
import TestRailCredentialsControl from './components/TestRailCredentialsControl'


export default {
  name: 'App',
  components: {
    TestQuickViewHeader,
    TestTabPanel,
    TestTab,
    PagedSortableSearchableKeyValueTable,
    TestRailPanel,
    TestRailCredentialsControl
  },
  data () {
    return {
      testRunDataList: testRuns
    }
  },
  created() {
    //console.log(testRuns);
  }

}
</script>
